* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* border: 2px solid black; */
    padding: 20px;
    box-shadow: 5px 5px 25px -5px black;
    border-radius: 10px;
}

input {
    width: 150px;
    height: 50px;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    border: 0.3px solid rgba(0, 0, 0, 0.3);
}


#result {
    text-align: center;
    margin: 30px 0px 30px 15px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    /* box-shadow: 3px 3px 20px black; */
    padding: 20px;
    border-radius: 10px;
}

#btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* box-shadow: 3px 3px 20px black; */
    border-radius: 10px;
    border: none;
}

button:active {
    transform: scale(0.8);
    transition: 0.2s;
    box-shadow: 3px 3px 20px black;
}

#btn {
    display: flex;
    justify-content: space-around;
}