* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

input {
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}

button {
    width: 80px;
    font-size: 18px;
    padding: 8px 10px;
    cursor: pointer;
}

p,
.result {
    text-align: center;
}